@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,400;1,700&display=swap");

:root {
  --primary-color: #fcd34d;
  --secondary-color: #185c8f;
  --width-break: 600px;
}

body {
  font-family: "Comic Neue", cursive;
  margin: 0px;
  
}


/* container */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* navigation top */
.navigation-top {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  height: 5rem;
  margin-bottom: 3rem;
}

.app-name {
  padding-top: 1.75rem;
  text-align: center;
  font-size: x-large;
}

/* textarea input box */
textarea {
  height: 5rem;
  width: 100%;
  width: var(--width-break);
  padding: 1rem;
  margin: auto;
  display: block;
  
}

.input-box-styling {
  border: 5px solid var(--primary-color);
}

/* button */
.btn-style {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  font-family: "Comic Neue", cursive;
  font-size: x-large;
  
}

/* centered-text */
.centered{
    text-align: center;
}

/* output box */
#output {
  height: 5rem;
  width: 100%;
  width: var(--width-break);
  padding: 1rem;
  margin:auto;
  display: block;
  border: 2px solid black;
}
